<h2><%= I18n.t 'shared.content.maps.title' %></h2>

<% if @content.has_map_info? %>
  <div id="map-explanation">
  	<p>
  		<%= I18n.t 'shared.content.maps.explanation', :content => @content.class.to_s.downcase %>
    </p>
  </div>
  <div id="map-show-link">
  	<%= image_tag "icons/map_edit.png" %> <%= link_to_function I18n.t('shared.content.maps.edit_or_delete_map'), "prepareMapEdit()", :id => "addmap" %>
    <small>
    	<%= I18n.t('shared.content.maps.will_load_data', :openstreetmap =>  link_to("Openstreetmap's", "http://openstreetmap.org")) %>
	</small>
  </div>
<% else %>
  <div id="map-explanation">
  	<p><%= I18n.t 'shared.content.maps.you_can_attach_a_map' %> <%= @content.class.to_s.downcase %>.</p>
  </div>
  <div id="map-show-link">
  	<%= image_tag "icons/map_add.png" %> <%= link_to_function I18n.t('shared.content.maps.add_a_map'), "prepareMapEdit()", :id => "addmap" %>
    <small>
    	<%= I18n.t('shared.content.maps.will_load_data', :openstreetmap =>  link_to("Openstreetmap's", "http://openstreetmap.org")) %>
	</small>
  </div>
<% end %>

<div id="locinfo">
	<div style="width:658px; height:500px; display:none;" id="map"></div>
</div>

<div id="map-delete-link" style="display:none;">
	<p><%= image_tag "icons/map_delete.png" %> <%= link_to_function I18n.t('shared.content.maps.delete_this_map'), "deleteMapEdit()" %></p>
</div>

<% content_for :javascript do %>
	<%= javascript_include_tag 'goatcodeloader' %>
<% end %>

<% fields_for :open_street_map_info do |o| %>
     <%= o.hidden_field :lng, :id => "xlon", :disabled => !@content.has_map_info? %>
     <%= o.hidden_field :lat, :id => "xlat", :disabled => !@content.has_map_info? %>
     <%= o.hidden_field :zoom, :id => "xres", :disabled => !@content.has_map_info? %>
<% end %>
