<div class="content-nav-links">
<%= link_to image_tag('icons/star.png'), featured_other_medias_path(1) %>
<%= link_to(I18n.t('other_media.top_nav.featured_other_media'), featured_other_medias_path(1)) %>		
<%= link_to image_tag('icons/rosette.png'), promoted_other_medias_path(1) %>
<%= link_to(I18n.t('other_media.top_nav.promoted_other_media'), promoted_other_medias_path(1)) %>		
<%= link_to image_tag('icons/world_link.png'), other_medias_path %>
<%= link_to(I18n.t('other_media.top_nav.all_other_media'), other_medias_path) %>		
</div>
