<% @file_upload = file_upload %>
<div id="<%= "file_upload_#{file_upload.id}" %>">
  <fieldset>
    <label class="first" for="file_upload[]_item_id">
    <%= I18n.t 'general.file_upload' %>
    </label><br/><br/>
    <% if controller.action_name == 'edit' %>
        <%= link_to(file_upload.title, file_upload.file.url) %><br/><br/>
    <% end %>
    <label for="file_upload[]_title">
      <%= I18n.t 'general.title' %>*</label><br/>
      <%= text_field 'file_upload[]', 'title', :size => 30 %>
    <br/><br/>
    <label for="file_upload[]_file">
    <%= I18n.t 'general.file' %>*</label><br/>
    <%= upload_column_field("file_upload[]", "file") %>
    <br/><br/>

    <%= sub_list_remove_link file_upload, 'FileUpload', I18n.t('content.form.delete') %>
  </fieldset>
</div>
