<div class="content-nav-links">
<%= link_to (image_tag('icons/star.png')), featured_articles_path(1) %> <%= link_to("featured articles".t, featured_articles_path(1)) %>		
<%= link_to (image_tag('icons/rosette.png')), promoted_articles_path(1) %> <%= link_to("promoted articles".t, promoted_articles_path(1)) %>		
<%= link_to (image_tag('icon_article.gif')), articles_path %> <%= link_to("all articles".t, articles_path) %>		
</div>