<% @video = video %>
<div id="<%= "video_#{video.id}" %>">
  <fieldset>
    <label class="first" for="video[]_item_id">
    <%= I18n.t 'content.class_names.video' %>
    </label><br/><br/>
    <% if controller.action_name == 'edit' %>
        <%= thumbnail_for(video) %><br/><br/>
    <% end %>
    <label for="video[]_title">
      <%= I18n.t 'general.title' %>*</label><br/>
      <%= text_field 'video[]', 'title', :size => 30 %>
    <br/><br/>
    <label for="video[]_file">
    <%= I18n.t 'content.form.allowed_file_types', :file_types => Video.allowed_file_types.join(", ") %></label><br/>
    <%= upload_column_field("video[]", "file") %>
    <br/><br/>
    <label for="video[]_summary">
      <%= I18n.t 'general.description' %></label><br/>
      <%= text_area 'video[]', 'summary', :rows => 5 %>
    <br/><br/>
    <%= sub_list_remove_link video, 'Video', I18n.t('content.form.delete') %>
  </fieldset>
</div>

