<% @page_title = @content.title %>
<%= error_messages_for :comment %>
<% css_class = @content.is_hidden? ? "hidden_post" : "post" %>
<div class="<%= css_class %>">
<h1 class="title"><%=h @content.title %></h1>
<p class="byline"><%= image_tag "icon_article.gif" %>
<small><%= I18n.t 'general.published_cap' %>: <%=h long_date(@content.created_on) %></small> <%= I18n.t 'general.by'%> <strong><%=h @content.published_by.titleize %></strong></p>
<p><%= render :partial => 'shared/content/content_tags_display.html.erb' %>
<%= render :partial => 'shared/content/content_place_tags_display.html.erb' %>
<%= render :partial => 'shared/content/groups_display' %>
</p>
<%= render :partial => 'shared/content/hidden_notice' %>

<div class='article'><%= auto_link(@content.summary) %>

<p><%=h @content.place %></p>

<%= render :partial => "shared/content/list_videos" %>

<% if @content.photos.length > 0 %>
    <p><h3><% I18n.t 'content.class_names.photos' %></h3></p>
    <% @content.photos.each do |photo| %>
        <p><%= link_to (image_tag photo.file.big_thumb.url), photo.file.medium.url %><br/>
        <strong><%=h photo.title %></strong>
        </p>
    <% end %>
<% end %>

<%= auto_link(@content.body) %>

<%= render :partial => "shared/content/list_file_uploads" %>
<%= render :partial => "shared/content/list_links" %>
<%= render :partial => "shared/content/email_display" %>     
</div>

<% if @content.has_comments? %>
	<h2><%= I18n.t 'articles.show.comments' %></h2>
<% end %>
<%= render :partial => 'shared/content/comments/comment_display', :collection => @content.published_comments %>
<%= render :partial => 'shared/content/comments/comment_controls' %>


</div>
<% content_for :sidebar do %>
	<%= render :partial => "articles/sidebar/feedbox" %>
	<%= render :partial => "shared/content/related_content" %>
<% end %>
