<%= error_messages_for :content %>

<!--[form:event]-->
<p><em>*</em> = <%= I18n.t("content.form.required_field") %></p>
<p><label for="content_title"><%= I18n.t("content.form.title") %> <%= I18n.t 'general.of_your' %> <%= I18n.t('content.class_names.event').downcase %><em>*</em></label><br/>
<%= f.text_field 'title'  %></p>

<p><label for="content_date"><%= I18n.t('events.form.date_of_event') %><em>*</em></label><br/>
<%= f.datetime_select 'date', {:order=>[:year,:month,:day], :start_year=>Date.today.year, :minute_step => 15} %></p>

<p><label for="content_published_by"><%= I18n.t('content.form.your_name') %>:<em>*</em></label><br/>
<%= f.text_field 'published_by' %></p>

<p><label for="content_contact_email"><%= I18n.t('events.form.contact_for_event') %>:</label><br/>
<%= f.text_field 'contact_email' %></p>

<%= render :partial => 'shared/content/place_tag_entry_controls' %>

<p><label for="content_summary"><%= I18n.t('events.form.place_for_event') %></label><br/>
<%= f.text_area 'summary', :cols=>80, :rows=>10  %></p>

<p><label for="content_body"><%= I18n.t('events.form.description_for_event') %><em>*</em></label><br/>
<%= f.text_area 'body', :cols=>80, :rows=>20  %></p>

<%= render :partial => 'shared/content/comments/allows_comments_controls', :locals => {:f => f} %>

<%= render :partial => 'shared/content/tag_entry_controls' %>

 <% if controller.action_name == "new" %>
 <p><%= I18n.t('events.form.repeating') %></p>
 <p><%= radio_button_tag :event_repeat_type, "none", :selected => true %>
    <label for="event_has_event_group"><%= I18n.t('events.form.no_repeat') %></label>
    <br/>
    
    <%= radio_button_tag :event_repeat_type, "repeat_simple" %>
    <label for="event_has_event_group"><%= I18n.t('events.form.do_repeat') %></label>
    <%= select_tag(:event_repeats_every, options_for_select({I18n.t("events.form.every") => 1, I18n.t("events.form.every_other") => 2, I18n.t("events.form.every_third") => 3, I18n.t("events.form.every_fourth") => 4}, :selected => 0))%>
    <%= select_tag(:event_repeats_dwm, options_for_select([I18n.t("events.form.day"), I18n.t("events.form.week"), I18n.t("events.form.month")]))%>
    <br/>
    
    <%= radio_button_tag :event_repeat_type, "repeat_complex" %>
    <label for="event_has_event_group"><%= I18n.t("events.form.repeat_on") %></label>
    <%= select_tag(:event_repeats_which_week, options_for_select(I18n.t("events.form.ordinal")))%>
    <%= select_tag(:event_repeats_week_day, options_for_select(I18n.t("events.form.week_days")))%>
    of the month every      <%= select_tag(:event_repeat_period, options_for_select([[I18n.t("events.form.month"),1], [I18n.t("events.form.other_month"),2]]), :selected => true)%>
    <br/>
</p>
<p><%= I18n.t("events.form.repeat_until") %>: <%= select_date(date = Date.today, :order=>[:year,:month,:day])  %> <%= I18n.t("events.form.repeat_note") %>
</p>
<% end %>

<noscript>
<p><a name="noJS"><%= I18n.t("general.oops") %></a> 
<%= I18n.t("javascript.no_js") %>
</p>
</noscript>

<h2><%= I18n.t("general.media_uploads") %></h2>

<p>
<%= I18n.t("content.form.upload_instructions") %>
</p>

<%= render :partial => "shared/content/sub_list_upload_links" %>
<%= render :partial => "shared/content/grouping_controls" %>
<%= render :partial => "shared/content/maps/open_street_map_edit_controls" %>

<%= render :partial => 'shared/content/status_controls', :locals => {:f => f} %>

<!--[eoform:event]-->
