<h1><%= long_date(@date) %> to <%= long_date(@date + 6) %></h1>
<p><%= link_to(I18n.t('events.list_by_week.previous_week') + ": #{(@date-7).strftime('%D')}", :date=>@date-7) %>
   <%= link_to(I18n.t('events.list_by_week.next_week') + ": #{(@date+7).strftime('%D')}", :date=>@date+7) %>
</p> 
<%= render(:partial => "shared/content/list_summary", :collection => @content) %>
<%= page_links(@content) %>
<% content_for :sidebar do %>
	<%= render :partial => "events/sidebar/feedbox" %>
<% end %>

