<h1><%= I18n.t('general.month_is') + ' ' + @datestart.strftime('%B %Y') %></h1>
<% @current_date = '' %>
<%= render(:partial => "monthly_archive/list_titles", :collection => @content) %>
<p>
<% next_month = @datestart >> 1
prev_month = @datestart << 1 %>
<%= link_to "<< " + prev_month.strftime('%B %Y'), :action => "month_index", :year => prev_month.year, :month => prev_month.month %>
<%= link_to next_month.strftime('%B %Y') + " >>", :action => "month_index", :year => next_month.year, :month => next_month.month %>
   <br />
   <%= link_to I18n.t('general.all_years'), :action => "index" %>
</p>
