<% if current_user.is_collectivized? %>
	<h2><%= I18n.t 'layouts.groups' %></h2>
	<p><%= I18n.t 'shared.content.grouping_controls.explanation' %></p>
	<%= radio_button_tag "content[collective_id]", "", !@content.is_collectivized?  %> <%= I18n.t 'shared.content.grouping_controls.no_group' %><br/>
	<% current_user.collectives.each do |c| %>
		<%= radio_button_tag "content[collective_id]", c.id, c.includes_content?(@content) -%> <%= c.name -%><br/>
	<% end %>

<% end %>