<h1><%= I18n.t 'external_feeds.index.listing_feeds_for' %> <%= @group.name %></h1>

<table>
  <tr>
    <th><%= I18n.t 'general.title' %></th>
	<th><%= I18n.t 'general.url' %></th>
    <th><%= I18n.t 'general.summary' %></th>
  </tr>
  
<% for feed in @external_feeds %>
  <tr>
    <td><%=h feed.title %></td>
    <td><%=h feed.url %></td>
    <td><%=h feed.summary %></td>
    <td><%= link_to I18n.t('general.edit'), edit_group_external_feed_path(@group, feed) %></td>
    <td><%= link_to I18n.t('general.destroy'), group_external_feed_path(@group, feed), :confirm => I18n.t('general.are_you_sure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<% if @external_feeds.length > 1 %>
	<p><%= I18n.t 'external_feeds.index.too_many_feeds' %></p>
<% else %>
	<%= link_to I18n.t('external_feeds.index.new_external_feed'), new_group_external_feed_path(@group) %>  |
<% end %>

<p><%= I18n.t 'collectives.edit_memberships.back_to_account_page', :your_account_page => link_to(I18n.t('collectives.edit_memberships.your_account_page'), account_path) %></p>