<p>
<%= f.label :key %><br />
<%= f.text_field :key %>
</p>
<p>
<%= f.label :string_value %><br />
<%= f.text_field :string_value %>
</p>
<p>
<%= f.label :integer_value %><br />
<%= f.text_field :integer_value %>
</p>
<p>
<%= f.label :boolean_value %><br />
<%= f.check_box :boolean_value %>
</p>
