<h2>Show setting</h2>

<p>
<strong>Key:</strong>
<%=h @setting.key %>
</p>
<p>
<strong>String value:</strong>
<%=h @setting.string_value %>
</p>
<p>
<strong>Integer value:</strong>
<%=h @setting.integer_value %>
</p>
<p>
<strong>Boolean value:</strong>
<%=h @setting.boolean_value %>
</p>

<p>
<%= link_to 'Edit setting', edit_admin_setting_url(@setting) %> |
<%= link_to 'Back to settings', admin_settings_url %>
</p>