<!-- start content -->
<div id="content">
<% if !@action_alert.nil? %>
	<div id="action-alert">
		<p><strong><%= @action_alert.summary %></strong></p>
	</div>
<% end %>

<%= render(:partial => "layouts/common/flash_notice") %>
<%= render(:partial => "home/top_featured", :object => @top_article) unless @top_article.nil? %>

<!-- start sidebars inside content -->
<!--  sidebar_content_left -->
	<div id="subfeature_content_1" class="sidebar_content">
		<%= render_subfeature(0) %>
		<%= render_subfeature(1) %>
	</div>
	<!--  sidebar_content_right -->
	<div id="subfeature_content_2" class="sidebar_content">
		<%= render_subfeature(2) %>
		<%= render_subfeature(3) %>
	</div>
	<% unless @snippet.nil? %>
	<div id="special_content" class="sidebar_content_wide">
		<ul>
			<li>
				<% if @snippet.url.blank? %>
					<h2><%= @snippet.title %></h2>
				<% else %>
					<h2><%= link_to(@snippet.title, @snippet.url) %></h2>
				<% end %>
					<% if @snippet.has_image? %>
						<%= image_tag @snippet.image.thumb.url, :class => 'left' %>
					<% end %>
					<%= @snippet.body %>
			</li>
		</ul>
	</div>
	<% end %>
	<div id="recent_articles" class="sidebar_content">
		<ul>
	    <li>
	      <h2>Featured Other Media</h2>
	      <ul>
				<%= render :partial => '/shared/content/list_title', :collection => @featured_other_media %>
					<li><%= link_to I18n.t('general.more') + ' &rarr;', featured_other_medias_path(1)%></li>
	      </ul>
	    </li>
		<li>
			<h2><%= I18n.t 'home.index.network' %></h2>
			<ul>
				<li class="list">
					<%= link_to "Indymedia UK", "http://www.indymedia.org.uk" %>
				</li>
				<li class="list">
					<%= link_to "Birmingham", "http://www.indymedia.org.uk/en/regions/birmingham/" %>
				</li>
				<li class="list">
					<%= link_to "Bristol", "http://bristol.indymedia.org/" %>
				</li>
				<li class="list">
					<%= link_to "Cambridge", "http://www.indymedia.org.uk/en/regions/cambridge/" %>
				</li>
				<li class="list">
					<%= link_to "Leeds Bradford", "http://www.indymedia.org.uk/en/regions/leedsbradford/" %>
				</li>
				<li class="list">
					<%= link_to "Liverpool", "http://www.indymedia.org.uk/en/regions/liverpool/" %>
				</li>
				<li class="list">
					<%= link_to "London 2003-2008", "http://www.indymedia.org.uk/en/regions/london/" %>
				</li>
				<li class="list">
					<%= link_to "Manchester", "http://www.indymedia.org.uk/en/regions/manchester/" %>
				</li>
				<li class="list">
					<%= link_to "Nottinghamshire", "http://www.indymedia.org.uk/en/regions/nottinghamshire/" %>
				</li>
				<li class="list">
					<%= link_to "Oxford", "http://www.indymedia.org.uk/en/regions/oxford/" %>
				</li>
				<li class="list">
					<%= link_to "Scotland", "http://scotland.indymedia.org" %>
				</li>
				<li class="list">
					<%= link_to "Sheffield", "http://www.indymedia.org.uk/en/regions/sheffield/" %>
				</li>
				<li class="list">
					<%= link_to "South Coast", "http://www.indymedia.org.uk/en/regions/southcoast/" %>
				</li>
				<li class="list">
					<%= link_to "York", "http://york.indymedia.org.uk" %>
				</li>
				<li class="list">
					<%= link_to "World", "http://www.indymedia.org.uk/en/regions/world/" %>
				</li>
			</ul>
		</li>
		</ul>
	</div>
	<div id="unused" class="sidebar_content">
		<ul>
	    <li>
	      <h2>Promoted Other Media</h2>
	      <ul>
				<%= render :partial => '/shared/content/list_title', :collection => @promoted_other_media %>
					<li><%= link_to I18n.t('general.more') + ' &rarr;', promoted_other_medias_path(1)%></li>
	      </ul>
	    </li>
			<li>
				<h2><%= I18n.t 'home.index.info' %></h2>
				<ul>
					<%= render :partial => '/pages/list_title', :collection => @pages %>
				</ul>
			</li>
		    <%= render :partial => 'shared/account_box' %>
		</ul>
	</div>
</div>
<!-- end content -->
<!-- start sidebars -->
<div id="sidebar1" class="sidebar">
	<ul>
			<li>
				<h2><%= I18n.t 'home.index.promoted_newswire' %></h2>
				<ul>
				<%= render :partial => '/shared/content/list_title', :collection => @promoted_articles %>
				<li><%= link_to ((I18n.t('general.more')) + ' &rarr;'), promoted_articles_path(1)%></li>
				</ul>
			</li>
			<li>
				<%= render :partial => 'videos/featured_flash_player' %>
			</li>
			<li>
				<h2>UK and World</h2>
				<ul>
					<%= @home_page_feed unless @home_page_feed.nil? %>
					<li><a href="http://www.indymedia.org.uk/?w=promoted">more &rarr;</a></li>
				</ul>
			</li>
		<li>
			<h2><%= I18n.t 'home.index.tags' %></h2>
			<%= render(:partial => "shared/tag_cloud", :object=> @cloud, :locals => {:tag_type => "tag"}) %>
		</li>
		<li>
			<h2><%= I18n.t 'home.index.place_tags' %></h2>
			<%= render(:partial => "shared/tag_cloud", :object=> @place_cloud, :locals => {:tag_type => "place"}) %>
		</li>
	</ul>
</div>
<div id="sidebar2" class="sidebar">
	<%= render :partial => 'shared/searchbox' %>
	<ul>
		<% unless @rightsnippet.nil? %>
		<li>
		    <% if @rightsnippet.url.blank? %>
			    <h2><%= @rightsnippet.title %></h2>
			<% else %>
			    <h2><%= link_to(@rightsnippet.title, @rightsnippet.url)%></h2>
			<% end %>
			<ul>
				<%= @rightsnippet.body %>
			</ul>
		</li>
		<% end %>
		<li>
			<h2><%= I18n.t 'home.index.featured_events' %></h2>
			<ul>
				<%= render :partial => '/shared/content/list_title', :collection => @featured_events %>
				<li><%= link_to ((I18n.t('general.more')) + ' &rarr;'), :controller => 'events', :action => 'index', :moderation_status => 'featured', :page => 1 %></li>
			</ul>
		</li>
		<li>
			<h2><%= I18n.t 'home.index.latest_poster' %></h2>
			<div id="event_poster">
				<div>
				<p>
					<%= big_thumbnail_for(most_recent_promoted_event_with_image) unless most_recent_promoted_event_with_image.nil? %><br/>
					<%= most_recent_promoted_event_with_image.title unless most_recent_promoted_event_with_image.nil?  %>
				</p>
				</div>
			</div>
		</li>
		<li id="upcomingevents">
			<h2><%= I18n.t 'home.index.promoted_events' %></h2>
			<ul>
			<%= render :partial => '/shared/content/list_title', :collection => @promoted_events %>
			  <li><%= link_to ((I18n.t('general.more')) + ' &rarr;'), :controller => 'events' %></li>
			</ul>
		</li>
	</ul>
</div>
<!-- end sidebars -->

