<h2>List content_filters</h2>

<table class="grid">
<tr>
<th>Title</th>
<th>Summary</th>
<th>&nbsp;</th>
<th>&nbsp;</th>
<th>&nbsp;</th>
</tr>

<% for content_filter in @content_filters %>
<tr>
<td><%=h content_filter.title %></td>
<td><%=h content_filter.summary %></td>
<td class="show"><%= link_to 'Show', admin_content_filter_url(content_filter), :title => "Show content_filter" %></td>
<td class="edit"><%= link_to 'Edit', edit_admin_content_filter_url(content_filter), :title => "Edit content_filter" %></td>
<td class="delete"><%= link_to 'Destroy', admin_content_filter_url(content_filter), :title => "Delete content_filter", :confirm => 'Are you sure you want to delete this content_filter?', :method => :delete %></td>
</tr>
<% end %>
</table>

<p>
<%= link_to 'New content filter', new_admin_content_filter_url %>
</p>
