<h1><%= I18n.t('general.month_is') + ' ' + @datestart.strftime('%B %Y') %></h1>
<%= link_to "#{I18n.t('archive.events_for')} #{@datestart.strftime('%B %Y')}", 
  :controller => 'events', :action => 'calendar_month', :date=>@datestart %>

<div class="content-nav-links">
<%= link_to (image_tag('icons/star.png')), archive_featured_path %>
<%= link_to (I18n.t('articles.top_nav.featured_articles'), archive_featured_path) %>		
<%= link_to (image_tag('icons/rosette.png')), archive_promoted_path %>
<%= link_to (I18n.t('articles.top_nav.promoted_articles'), archive_promoted_path) %>		
<%= link_to (image_tag('icon_article.gif')), archive_default_path %>
<%= link_to (I18n.t('articles.top_nav.all_articles'), archive_default_path) %>		
</div>

<h2><%= if @type == 'featured'
          I18n.t 'articles.list_featured.title' 
        elsif @type == 'promoted'
          I18n.t 'articles.list_promoted.title' 
        else
          I18n.t 'articles.index.title' 
        end %></h2>

<% @current_date = '' %>
<%= render(:partial => "archive/list_titles", :collection => @content) %>
<p>
<% next_month = @datestart >> 1
prev_month = @datestart << 1 %>
<%= link_to "<< " + prev_month.strftime('%B %Y'), :action => "month_index", :year => prev_month.year, :month => prev_month.month, :type => @type %>
<%= link_to next_month.strftime('%B %Y') + " >>", :action => "month_index", :year => next_month.year, :month => next_month.month, :type => @type %>
   <br />
   <%= link_to I18n.t('general.all_years'), :action => "index" %>
</p>
