<h1><%= I18n.t('archive.month_is') + ' ' + @start_date.strftime('%B %Y') %></h1>

<div class="content-nav-links">
<%= link_to (image_tag('icons/star.png')), archive_featured_path %>
<%= link_to(I18n.t('articles.top_nav.featured_articles'), archive_featured_path) %>
<%= link_to (image_tag('icons/star-blue1.png')), archive_promoted_path %>
<%= link_to(I18n.t('articles.top_nav.promoted_articles'), archive_promoted_path) %>
<%= link_to (image_tag('icon_article.gif')), archive_default_path %>
<%= link_to(I18n.t('articles.top_nav.all_articles'), archive_default_path) %>
</div>

<h2><%= archive_title %></h2>

<% if !@tagname.nil? -%>
  <%= link_to I18n.t('archive.show_all_articles'), archive_tag_path %>
<% elsif @showtags -%>
  <%= link_to I18n.t('archive.hide_tags'), archive_default_path %>
<% else -%>
  <%= link_to I18n.t('archive.show_tags'), archive_tag_path %>
<% end -%>

<% @current_date = '' -%>
<%= render(:partial => "shared/list_titles",
           :collection => @all_content,
           :locals => { :date_to_use => :created_on }) %>
<hr>
<p>
<%= link_to "#{I18n.t('archive.events_for')} #{@start_date.strftime('%B %Y')}",
  :controller => 'events', :action => 'calendar_month', :date=>@start_date %>
</p>
<p>
<%= prev_month_link(@start_date, @type) %>
<%= next_month_link(@start_date, @type) %>
<br />
<%= link_to I18n.t('archive.all_years'), :action => "index" %>
</p>

