<h1><%= I18n.t('archive.monthly_archive') + ' ' + @year.to_s %></h1>
<ul>
<%= render(:partial => "archive/list_months", :collection => @month_count) %>
</ul>
<p>
<%= prev_year_link(@year) %>
<%= next_year_link(@year) %>
<br />
<%= link_to I18n.t('archive.all_years'), :action => "index" %>
</p>
