<h2>List quotes</h2>

<table class="grid">
<tr>
<th>Body</th>
<th>&nbsp;</th>
<th>&nbsp;</th>
<th>&nbsp;</th>
</tr>

<% for quote in @quotes %>
<tr>
<td><%=h quote.body %></td>
<td class="show"><%= link_to 'Show quote', admin_quote_url(quote), :title => "Show quote" %></td>
<td class="edit"><%= link_to 'Edit quote', edit_admin_quote_url(quote), :title => "Edit quote" %></td>
<td class="delete"><%= link_to 'Destroy quote', admin_quote_url(quote), :title => "Delete quote", :confirm => 'Are you sure you want to delete this quote?', :method => :delete %></td>
</tr>
<% end %>
</table>

<p>
<%= link_to 'New quote', new_admin_quote_url %>
</p>
