<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<title><%= Hyperactive.site_name %><%= " | " +  h(@page_title) unless @page_title.nil? %></title>
<meta content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
<%= javascript_include_tag "iphone" %>
<%= stylesheet_link_tag 'iphone' %> <!-- media="only screen and (max-device-width: 480px)" -->
<%= iphone_orientation_js %>
</head>
<body>

<div id="header">
  <h1><a href="/"><%= Hyperactive.site_name %></a></h1>
  <% if Hyperactive.show_dispatch_number_on_mobile_template %>
      <ul>
      <li><a href="tel:<%= Hyperactive.dispatch_number %>">Dispatch</a></li>
      </ul>
  <% end %>
</div>

<ul id="main-nav">
<li><%= link_to("Publish", page_path('mobile-publish'))%></li>
<li><a href="#events">Events</li>
</ul>

<div class="viewport_body">
  <%= yield :toolbar %>
  <%= yield %>
</div>

<div id="footer">
<p class="upper"><!-- Although it doesn't do anything right now, one idea would be to lay out a very very simple upload form in here, like: --></p>
<p class="lower"><!-- <span class="left"><%= text_field "foo", "bar" %></span> --></p>
</div>

</body>
</html>

